* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {   
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    {width:90%; margin:auto; min-width:600px; max-width:2000px}
    font-size: 16px;
    line-height: 16px;
}

html { 
   background: url("https://cdn.glitch.com/528c9c78-4ebb-4a7c-b765-4ab8d205877a%2Fdog-glasses-drink-popcorn-wallpaper-preview.jpg?v=1603163591624") no-repeat center center fixed; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

.cabecalho{
    background: rgb(28, 28, 28);
    grid-area: header;
    font-family: fantasy;
    color: rgb(255, 250, 250);
    padding: 20pt;
}

a{
  color: rgb(128, 0, 0);
}

.rodape{
  grid-area: footer;
  text-align: center;
  background: rgb(28, 28, 28);
  color: rgb(255, 250, 250);
  height: 40px;
  width: 100%;
  height: 10%; 
  bottom: 0;
  position: absolute;
  font-family: fantasy;
  padding: 15pt;
}

  nav {
    word-spacing: 10pt;
    
  }

  a:link {
    text-decoration: none;
  }

  a:visited {
    font-weight: bold;
    text-decoration: none;
  }

  a:hover{ 
    text-decoration: none;
  }

  a:active {
    text-decoration: none;

  }

.favorito {
  color: rgb(255, 165, 0);
}

img{
    position:fixed;
    bottom: 80px;
    right: 30px;
    width: 12%;
    height: 12%; 
  
}



@media screen and (min-width:400px) and (max-width: 2000px) {
  
img{
    position:fixed;
    bottom: 100px;
    right: 30px;
    width: 8%;
    height: 12%; 
  
}
  
  .circle {
  background-color: #aaa;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: relative;
}

.circle img {
  position: absolute;
  bottom: 0;
  width: 100%;
}
    
html { 
   background: url("https://cdn.glitch.com/528c9c78-4ebb-4a7c-b765-4ab8d205877a%2Fdog-glasses-drink-popcorn-wallpaper-preview.jpg?v=1603163591624") no-repeat center center fixed; 

  }